.home {
  background: radial-gradient(#525252, #131313);
}

.nav-container {
  background: rgb(22, 22, 22);
}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-between;
}
