html {
  scroll-behavior: smooth;
  font-size: 62.5%; //1rem = 10px
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem; //Logo
  font-weight: lighter;
  font-family: "Lobster", cursive;
}

h2 {
  font-size: 8rem;
  font-family: "Lobster", cursive;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

@import "home";
